/* globals.css */
@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #f4f4f5;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  overflow-x: hidden; /* Importante ito para mawala yung scroll sa gilid */
  min-height: 100vh;
}

section {
  scroll-margin-top: 80px; /* Adjust base sa height ng header mo */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.2s ease-out forwards;
}

.scale-up-animation {
  animation: scaleUp 0.25s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}